{{ define "main" }}
<article class="post-single">
  <div class="post-header">
    <h2>{{ .Title }}</h2>
    <div class="meta">
      Published on: {{ .Date.Format "January 2, 2006" }}
      {{ with .GetTerms "tags" }}
      | Tags: {{ range . }}<a href="{{ .RelPermalink }}" class="tag-link"><code>#{{ .LinkTitle }}</code></a> {{ end }}
      {{ end }}
      | Reading time: {{ .ReadingTime }} min
    </div>
  </div>

  <hr />

  <div class="post-content">
    {{ .Content }}
  </div>

  <div class="post-citation">
    <h3>Cite As</h3>
    <div class="citation-box">
      {{ if .Params.citation }}
        {{ .Params.citation | markdownify }}
      {{ else }}
        {{ site.Params.author }} ({{ .Date.Format "2006" }}). {{ .Title }}. <a href="{{ .Permalink }}">{{ .Permalink }}</a>. Retrieved {{ now.Format "January 2, 2006" }}.
      {{ end }}
    </div>
  </div>

  <hr class="double-line" />

  <div class="post-navigation">
    [ <a href="{{ "/posts/" | relURL }}">&laquo; Back to Writing</a> ]
  </div>
</article>
{{ end }}
